* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.03em;
}

*:not(pre code) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

h1,
h2 {
  font-weight: 500;
  padding: 0.5em;
}

.container {
  text-align: center;
  min-height: 120vh;
  padding-top: 2em;
  padding-bottom: 2em;
}
